.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items > ul {
  display: flex;
  gap: 20px;
  width: 500px;

  justify-content: space-around;
}
.nav-items > ul > li {
  list-style: none;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
}
.card {
  display: flex;
  gap: 10px;
  align-items: center;
}
.res-Container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.card-container {
  width: 250px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.card-container:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.card-container > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  margin: 10px;
}
.card-body > h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  line-height: 20px;
  font-style: italic;
  color: #555;
}
